---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -objc-*,
  -zircon-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
FormatStyle: file
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: '1'
  - key: bugprone-argument-comment.CommentBoolLiterals
    value: '1'
  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: '1'
  - key: bugprone-sizeof-expression.WarnOnSizeOfConstant
    value: '1'
  - key: bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
    value: '1'
  - key: cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value: '1'
  - key: cppcoreguidelines-init-variables.IncludeStyle
    value: llvm
  - key: cppcoreguidelines-narrowing-conversions.PedanticMode
    value: '1'
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
  - key: readability-redundant-declaration.IgnoreMacros
    value: '1'
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TemplateParameterCase
    value: 'CamelCase'
  - key: readability-identifier-naming.FunctionCase
    value: 'camelBack'
  - key: readability-identifier-naming.VariableCase
    value: 'camelBack'
  - key: readability-identifier-naming.ClassMemberCase
    value: 'camelBack'
  - key: readability-identifier-naming.ClassMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.NamespaceCase
    value: 'camelBack'